## 202114277 문형주

# 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [2]:
import pandas as pd
pew=pd.read_csv('../data/pew.csv')
print(pew.iloc[:,0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [3]:
pew_long=pd.melt(pew,id_vars='religion')
print(pew_long.head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [4]:
pew_long=pd.melt(pew,id_vars='religion',var_name='income',value_name='count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

# 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [5]:
billboard=pd.read_csv('../data/billboard.csv')
print(billboard.iloc[0:5,0:16])

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [6]:
billboard_long=pd.melt(billboard,id_vars=['year','artist','track','time','date.entered'],var_name='week',value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

# ebola 데이터 집합 살펴보기

In [7]:
ebola=pd.read_csv('../data/country_timeseries.csv')
print(ebola.columns)
print(ebola.iloc[:5,[0,1,2,3,10,11]])

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')
         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

# 열 이름 나누고 데이터 프레임에 추가하기

In [8]:
ebola_long=pd.melt(ebola,id_vars=['Date','Day'])
variable_split=ebola_long.variable.str.split('_')
print(variable_split[:5])

status_value=variable_split.str.get(0)
country_value=variable_split.str.get(1)

print(status_value)

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object
0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [9]:
ebola_long['status']=status_value
ebola_long['country']=country_value

print(ebola_long)

            Date  Day      variable   value  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

# concat 메서드를 응용하여 데이터프레임에 열 추가하기

In [10]:
variable_split=ebola_long.variable.str.split('_',expand=True)
variable_split.columns=['status','country']
ebola_parsed=pd.concat([ebola_long,variable_split],axis=1)
print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

# 기상 데이터의 여러 열을 하나로 정리하기

In [11]:
weather=pd.read_csv('../data/weather.csv')
print(weather.iloc[:5,:])

weather_melt=pd.melt(weather,id_vars=['id','year','month','element'],var_name='day',value_name='temp')
print(weather_melt.head())

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]
        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [12]:
weather_tidy=weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    dropna=False
)
print(weather_tidy)

weather_tidy_flat=weather_tidy.reset_index()
print(weather_tidy_flat.head())

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
...                      ...   ...
             12    d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]
element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN

# 빌보드 차트의 중복 데이터 처리하기

In [13]:
billboard=pd.read_csv('../data/billboard.csv')
billboard_long=pd.melt(billboard,id_vars=['year','artist','track','time','date.entered'],var_name='rating')

print(billboard_long.shape)
print(billboard_long[billboard_long.track=='Loser'].head())

billboard_songs=billboard_long[['year','artist','track','time']]
print(billboard_songs.shape)

billboard_songs=billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(24092, 7)
      year        artist  track  time date.entered rating  value
3     2000  3 Doors Down  Loser  4:24   2000-10-21    wk1   76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21    wk2   76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21    wk3   72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21    wk4   69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21    wk5   67.0
(24092, 4)
(317, 4)

In [18]:
billboard_songs=billboard.drop_duplicates()
print(billboard_songs.shape)

billboard_songs['id']=range(len(billboard_songs))
print(billboard_songs.head(n=10))

(317, 81)
   year          artist                    track  time date.entered  wk1  \
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87
1  2000         2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91
2  2000    3 Doors Down               Kryptonite  3:53   2000-04-08   81
3  2000    3 Doors Down                    Loser  4:24   2000-10-21   76
4  2000        504 Boyz            Wobble Wobble  3:35   2000-04-15   57
5  2000            98^0  Give Me Just One Nig...  3:24   2000-08-19   51
6  2000         A*Teens            Dancing Queen  3:44   2000-07-08   97
7  2000         Aaliyah            I Don't Wanna  4:15   2000-01-29   84
8  2000         Aaliyah                Try Again  4:03   2000-03-18   59
9  2000  Adams, Yolanda            Open My Heart  5:30   2000-08-26   76

    wk2   wk3   wk4    wk5  ...  wk68  wk69  wk70  wk71  wk72  wk73  wk74  \
0  82.0  72.0  77.0   87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  87.0  92.0   NaN    NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  70.0  68.0  67.0   66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  76.0  72.0  69.0   67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  34.0  25.0  17.0   17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5  39.0  34.0  26.0   26.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6  97.0  96.0  95.0  100.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7  62.0  51.0  41.0   38.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8  53.0  38.0  28.0   21.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9  76.0  74.0  69.0   68.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   wk75  wk76  id
0   NaN   NaN   0
1   NaN   NaN   1
2   NaN   NaN   2
3   NaN   NaN   3
4   NaN   NaN   4
5   NaN   NaN   5
6   NaN   NaN   6
7   NaN   NaN   7
8   NaN   NaN   8
9   NaN   NaN   9

[10 rows x 82 columns]

In [20]:
billboard_ratings=billboard_long.merge(billboard_songs,on=['year','artist','track','time'])
print(billboard_ratings.shape)
print(billboard_ratings.head())

(24092, 85)
   year artist                    track  time date.entered_x rating  value  \
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26    wk1   87.0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26    wk2   82.0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26    wk3   72.0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26    wk4   77.0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26    wk5   87.0

  date.entered_y  wk1   wk2  ...  wk68  wk69  wk70  wk71  wk72  wk73  wk74  \
0     2000-02-26   87  82.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1     2000-02-26   87  82.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2     2000-02-26   87  82.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3     2000-02-26   87  82.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4     2000-02-26   87  82.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   wk75  wk76  id
0   NaN   NaN   0
1   NaN   NaN   0
2   NaN   NaN   0
3   NaN   NaN   0
4   NaN   NaN   0

[5 rows x 85 columns]

# 뉴욕 택시 데이터 준비

In [24]:
import os
import urllib.request

with open('../data/raw_data_urls.txt','r') as data_urls:
    for line,url in enumerate(data_urls):
        if line==5:
            break
        fn=url.split('/')[-1].strip()
        fp=os.path.join('','../data',fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url,fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

../data\fhv_tripdata_2015-01.csv

HTTPError: HTTP Error 403: Forbidden

# 반복문으로 데이터 준비하기