In [2]:
import pandas

# 갭마인더 데이터 집합 불러오기

In [4]:
import pandas as pd
df=pandas.read_csv('../data/gapminder.tsv',sep='\t')

# 불러온 데이터 집합 살펴보기

In [10]:
print(df.head()) #head메서드: 가장 앞에있는 5개 행 출력

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [21]:
print(df.tail()) #tail메서드: 가장 뒤에 있는 5개 행 출력

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [11]:
print(type(df)) #type메서드: 자료형 출력

<class 'pandas.core.frame.DataFrame'>

In [15]:
print(df.shape) #갭마인더의 행,열의 크기 (행,열)

(1704, 6)

In [16]:
print(df.columns) #열 구성요소

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [19]:
print(df.dtypes) #구성하는 값의 자료형- dtype 속성

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [20]:
print(df.info()) #구성하는 값의 자료형- info 메서드

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 열 단위로 데이터 추출하기

In [23]:
country_df=df['country'] #열 이름 country인 열 추출해 country_df에 저장
print(type(country_df))

<class 'pandas.core.series.Series'>

In [24]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [25]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

# loc 속성으로 행 단위 데이터 추출하기

In [28]:
print(df.loc[0]) #loc=인덱스 기준 행 추출. [n]이면 인덱스 n인 행 데이터 추출

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [31]:
print(df.loc[[0,99,999]]) #원하는 인덱스 추출

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [32]:
#마지막 행 데이터 추출 (tail이 더 유용)
number_of_rows=df.shape[0] #행 데이터 총 개수
last_row_index=number_of_rows-1 #마지막 행 데이터 인덱스
print(df.loc[last_row_index]) #마지막 행 데이터 추출

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [33]:
print(df.tail(n=1)) #tail로 마지막 행 데이터 추출

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

# tail과 loc는 조금 달라요!

In [35]:
subset_loc=df.loc[0] #loc: 시리즈
subset_tail=df.tail(n=1) #tail: 데이터 프레임

print(type(subset_loc))
print(type(subset_tail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# iloc 속성으로 행 단위 데이터 추출하기

In [37]:
print(df.iloc[1]) #iloc 행 번호 기준 행 추출

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [40]:
print(df.iloc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# 파이썬 슬라이싱 구문을 조합하여 원하는 데이터 추출하기

In [42]:
subset=df.loc[:,['year','pop']] #모든행(:)의 데이터에 대해 year, pop 열 추출
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [43]:
subset=df.iloc[:,[2,4,-1]] 
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

# iloc 속성과 range 메서드로 원하는 데이터 추출하기

In [54]:
small_range=list(range(5)) #range메서드. range(5)=[0,1,2,3,4]. 0부터 5 하나 전까지
print(small_range)

[0, 1, 2, 3, 4]

In [45]:
print(type(small_range))

<class 'list'>

In [46]:
subset=df.iloc[:,small_range]
print(subset.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [52]:
small_range=list(range(3,6)) #range(3,6)=[3,4,5]. 3부터 6 하나 전까지
print(small_range)

subset=df.iloc[:,small_range]
print(subset.head())

[3, 4, 5]
   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [51]:
small_range=list(range(0,6,2)) #range(0,6,2)=[0,2,4]. 0부터 6 하나 전까지 2만큼 건너뜀
print(small_range)

subset=df.iloc[:,small_range]
print(subset.head())

[0, 2, 4]
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

# 열 지정값에 파이썬 슬라이싱을 사용하여 원하는 데이터 추출하기

In [56]:
#list(range(3))과 [:3]은 동일
subset=df.iloc[:,:3]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [57]:
#list(range(0,6,2))와 [0:6:2]는 동일
subset=df.iloc[:,0:6:2]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

# loc, iloc 자유자재로 사용하기

In [58]:
#iloc속성으로 0,99,999번째 행의 0,3,5번째 열 데이터 추출
print(df.iloc[[0,99,999],[0,3,5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [59]:
#loc속성으로 0,99,999번째 행의 0,3,5번째 열 데이터 추출 - iloc보다 파악하기 쉬움
print(df.loc[[0,99,999],['country','lifeExp','gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [61]:
#loc속성으로 인덱스 10~13인 0,3,5번째 열 데이터 추출
print(df.loc[10:13,['country','lifeExp','gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

# 그룹화한 데이터의 평균 구하기

In [10]:
import pandas
df=pandas.read_csv('../data/gapminder.tsv',sep='\t') #df 정의 안 됐다해서 다시함

print(df.head(n=10)) #0~9번째 데이터 추출해 출력

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [9]:
#lifeExp 열을 연도별로 그룹화해서 평균 구하기
#groupby메서드: 그룹화, mean메서드: 평균값
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [24]:
#위 코드 자세히 살펴보기
grouped_year_df=df.groupby('year') #groupby메서드에 year 열 전달 > 그룹화
print(type(grouped_year_df))

print(grouped_year_df) #데이터프레임이 저장된 메모리 위치

grouped_year_df_lifeExp=grouped_year_df['lifeExp'] #연도별로 그룹화한 lifeExp 열
print(type(grouped_year_df_lifeExp))

mean_lifeExp_by_year=grouped_year_df_lifeExp.mean() #mean메서드로 평균구하기
print(mean_lifeExp_by_year)

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000111F2F92000>
<class 'pandas.core.groupby.generic.SeriesGroupBy'>
year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [26]:
#응용. lifeExp, gdpPercap 열의 평균값을 연도, 지역별로 그룹화하여 한번에 계산
multi_group_var=df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()
print(multi_group_var)

print(type(multi_group_var)) #자료형 출력

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275
<class 'pandas.core.frame.DataFrame'>

# 그룹화한 데이터의 개수 세어보기

In [27]:
#nunique메서드: 빈도수 (그룹화한 데이터 개수)
print(df.groupby('continent')['country'].nunique())

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

# 그래프 만들기

In [38]:
#라이브러리 불러오기. matplotlib: 그래프 그리기 위해 사용하는 매직함수
%matplotlib inline 
import matplotlib.pyplot as plt

global_yearly_life_expectancy=df.groupby('year')['lifeExp'].mean() #year열 기준으로 그룹화한 데이터 프레임에서 lifeExp열 추출해 평균값 구함
print(global_yearly_life_expectancy)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [37]:
global_yearly_life_expectancy.plot() #plot메서드: 그래프 그림