# 시리즈 만들기

In [1]:
import pandas as pd
s=pd.Series(['banana',42]) #Series메서드: 시리즈 생성
print(s)

0    banana
1        42
dtype: object

In [2]:
s= pd.Series(['Wes Mckinney','Creator of Pandas'])
print(s)

s= pd.Series(['Wes Mckinney','Creator of Pandas'],index=['Person','Who']) #index인자 이용해 문자열을 인덱스로 지정
print(s)

0         Wes Mckinney
1    Creator of Pandas
dtype: object
Person         Wes Mckinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [3]:
scientists=pd.DataFrame({
    'Name': ['rosaline franklin','william gosset'],
    'Occupation':['chemist','statistician'],
    'Born':['1920-07-25','1876-06-13'],
    'Bied':['1958-04-16','1937-10-16'],
    'Age':['37','61']
})
print(scientists)

                Name    Occupation        Born        Bied Age
0  rosaline franklin       chemist  1920-07-25  1958-04-16  37
1     william gosset  statistician  1876-06-13  1937-10-16  61

In [4]:
#데이터 프레임 만들기- 인덱스 지정해서
scientists=pd.DataFrame(
    data={'Occupation':['chemist','statistician'],
        'Born':['1920-07-25','1876-06-13'],
        'Died':['1958-04-16','1937-10-16'],
        'Age':['37','61']},
    index=['rosaline franklin','william gosset'],
    columns=['Occupation','Born','Age','Died']
)
print(scientists)

                     Occupation        Born Age        Died
rosaline franklin       chemist  1920-07-25  37  1958-04-16
william gosset     statistician  1876-06-13  61  1937-10-16

In [ ]:
#OrderedDict: 딕셔너리의 순서 그대로 유지
from collections import OrderedDict
scientists=pd.DataFrame(OrderedDict([
    ('Name', ['rosaline franklin','william gosset']),
    ('Occupation',['chemist','statistician']),
    ('Born',['1920-07-25','1876-06-13']),
    ('Died',['1958-04-16','1937-10-16']),
    ('Age',['37','61'])
])
)
print(scientists)

# 데이터프레임에서 시리즈 선택하기

In [5]:
#loc속성에 인덱스 전달
scientists=pd.DataFrame(
    data={'Occupation':['chemist','statistician'],
        'Born':['1920-07-25','1876-06-13'],
        'Died':['1958-04-16','1937-10-16'],
        'Age':['37','61']},
    index=['rosaline franklin','william gosset'],
    columns=['Occupation','Born','Age','Died']
)

first_row=scientists.loc['william gosset'] #loc속성에 인덱스(과학자 이름) 전달
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: william gosset, dtype: object

# index, values, keys 사용하기

In [6]:
#index속성 사용
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [7]:
#응용
print(first_row.index[0])

Occupation

In [8]:
#value속성 사용
print(first_row.values)

['statistician' '1876-06-13' '61' '1937-10-16']

In [9]:
#keys메서드 사용
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [10]:
#응용
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [11]:
ages=scientists['Age'] #답이 교재랑 다름
print(ages)

rosaline franklin    37
william gosset       61
Name: Age, dtype: object

In [19]:
print(ages.mean()) #답이 교재랑 다름
print(ages.min())
print(ages.max())
print(ages.std())

59.125
37
90
18.325918413937288

# 시리즈와 불린 추출 사용하기

In [15]:
#불린 추출- 특정 조건을 만족하는 값만 추출
#먼저, 데이터 불러오기
scientists=pd.read_csv('../data/scientists.csv')

In [14]:
ages=scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [16]:
#불린추출- 평균보다 나이 많은 사람
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [17]:
print(ages>ages.mean()) #불린추출: 참인 인덱스의 데이터만 추출

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [18]:
manual_bool_values=[True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [20]:
#브로드캐스팅- 모든 데이터 한 번에 연산
#벡터: 여러개의 값 가진 데이터, 스칼라: 단순 크기를 나타내는 데이터

#길이 같은 벡터끼리 연산
print(ages+ages)
print(ages*ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [21]:
#벡터에 스칼라 연산
print(ages+100)
print(ages*2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [22]:
#길이가 다른 벡터끼리 연산 > 인덱스 일치한 0,1만 계산, 나머진 nan
print(pd.Series([1,100]))
print(ages+pd.Series([1,100]))

0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [23]:
#sort_index메서드 이용. ascending인자로 False전달해 인덱스 역순으로 데이터 정렬
rev_age=ages.sort_index(ascending=False)
print(rev_age)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [24]:
print(ages*2)
print(ages+rev_age) #두 결괏값 동일

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [33]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [30]:
print(scientists.loc[[True, True, False, True]]) #왜 안 되지,,ㅠㅠ

IndexError: Boolean index has wrong length: 4 instead of 8

# 데이터프레임과 브로드캐스팅

In [32]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기 3-05

In [36]:
#먼저, 자료형 확인
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [52]:
#시간 관련 작업- datetime 자료형으로 변경
born_detetime=pd.to_detetime(scientists['Born'],format='%Y-%m-%d') #왜 안돼ㅐㅐㅐㅐㅐㅐ
print(born_detetime)

AttributeError: module 'pandas' has no attribute 'to_detetime'

In [45]:
died_detetime=pd.to_detetime(scientists['Died'],format='%Y-%m-%d')
print(died_detetime)

AttributeError: module 'pandas' has no attribute 'to_detetime'

In [48]:
scientists['born_dt'],scientists['died_dt']=(born_detetime,died_detetime)
print(scientists.head())

NameError: name 'born_detetime' is not defined

In [51]:
#얼마나 살았나= died- born
scientists['age_days_dt']=(scientists['born_dt']-scientists['died_dt'])
print(scientists)

KeyError: 'born_dt'

# 시리즈, 데이터프레임의 데이터 섞어보기

In [53]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [56]:
#random 라이브러리 > shuffle메서드 이용해 섞기
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열 삭제하기

In [57]:
#drop메서드 이용
scientists_dropped=scientists.drop(['Age'],axis=1) #답 교재라ㅇ 다름
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation'], dtype='object')

# 피클 형식으로 저장하기

In [62]:
#pickle: 데이터를 바이너리 형태로 직렬화한 오브젝트 저장하는 방법. 스프레드 시트보다 더 작은 용량으로 데이터 저장가능
names=scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

#데이터 프레임도 피클로 저장
scientists.to_pickle('../output/scientists_df.pickle')

In [64]:
#피클 데이터는 반드니 read_pickle로 읽어들이기
scientists_names_from_pickle=pd.read_pickle('../output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

scientists_from_pickle=pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   90        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   41           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

# CSV 불러오기

In [65]:
#CSV: 데이터를 쉼표로 구분해 저장
#TSV: 데이터를 탭으로 구분해 저장
names.to_csv('../output/scientists_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv',sep='\t') #sep인자 추가해 \t 지정 후 파일 확장자 .tsv로 지정하면 tsv파일로 저장가능