# 제곱 함수와 n 제곱 함수 만들기

In [3]:
#제곱함수
def my_sq(x):
    return x ** 2

#n제곱함수
def my_exp(x, n):
    return x ** n

In [4]:
print(my_sq(4))
print(my_exp(2, 4))

16
16

# 시리즈와 apply 메서드

In [6]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [8]:
#a열 제곱해 얻은 결과
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
#apply메서드에 함수 이름 전달해 계산
sq = df['a'].apply(my_sq) 
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
#n제곱함수(인자 2개 전달받아야함) 
ex = df['a'].apply(my_exp, n=2) 
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
ex = df['a'].apply(my_exp, n=3) 
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드

In [12]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [15]:
#새로운 함수 만들기
def print_me(x): 
    print(x)

In [17]:
#axis 인잣값 0>열 방향, 1>행 방향
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [18]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [19]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [22]:
#3개의 인자 입력받아 평균 계산하는 함수 사용
def avg_3(x, y, z):
    return (x + y + z) / 3

print(df.apply(avg_3)) #1개의 인잣값만 입력받았다는 오류 뜸

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [25]:
def avg_3_apply(col):
    x = col[0] 
    y = col[1] 
    z = col[2] 
    return (x + y + z) / 3

print(df.apply(avg_3_apply)) #avg_3_apply로 개선하니 잘 동작

a    20.0
b    30.0
dtype: float64

In [28]:
#일반적으론 for문 이용해 작성
def avg_3_apply(col):
    sum = 0
    for item in col:
         sum += item
    return sum / df.shape[0] #0> 열 방향

In [30]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1] #행 방향

In [31]:
print(df.apply(avg_2_apply, axis = 1))

0    15.0
1    25.0
2    35.0
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [33]:
import seaborn as sns

titanic = sns.load_dataset("titanic")

In [34]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [35]:
#count_missing: 누락값 개수 반환
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [36]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [38]:
#prop_missing: 누락값 비율 계산
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

In [39]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [41]:
def prop_complete(vec):
    return 1 - prop_missing(vec)

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡

In [42]:
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [43]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [44]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [45]:
#누락값 개수 구하여 titanic에 추가
titanic['num_missing'] = titanic.apply(count_missing, axis=1)

print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [46]:
#누락값 2개 이상인 데이터 추출
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch      fare embarked   class  \
470         0       3    male  NaN      0      0    7.2500        S   Third
680         0       3  female  NaN      0      0    8.1375        Q   Third
180         0       3  female  NaN      8      2   69.5500        S   Third
502         0       3  female  NaN      0      0    7.6292        Q   Third
547         1       2    male  NaN      0      0   13.8625        C  Second
490         0       3    male  NaN      1      0   19.9667        S   Third
375         1       1  female  NaN      1      0   82.1708        C   First
533         1       3  female  NaN      0      2   22.3583        C   Third
264         0       3  female  NaN      0      0    7.7500        Q   Third
334         1       1  female  NaN      1      0  133.6500        S   First

       who  adult_male deck  embark_town alive  alone  num_missing
470    man        True  NaN  Southampton    no   True            2
680  woman       False  NaN   Queenstown    no   True            2
180  woman       False  NaN  Southampton    no  False            2
502  woman       False  NaN   Queenstown    no   True            2
547    man        True  NaN    Cherbourg   yes   True            2
490    man        True  NaN  Southampton    no  False            2
375  woman       False  NaN    Cherbourg   yes  False            2
533  woman       False  NaN    Cherbourg   yes  False            2
264  woman       False  NaN   Queenstown    no   True            2
334  woman       False  NaN  Southampton   yes  False            2